* {
  font-family: 'Inconsolata', Arial, 'Lucida Grande', sans-serif, monospace;
  box-sizing: border-box; 
}

body {
  background: url(../static/back.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.ui.active {
  display: block;
}

.ui.buttons {
  left: 8px;
  top: 4px;
  position: absolute;
}

.ui.buttons > .button {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.ui.buttons > .cls {
  position: relative;
  background-color: #ff635b;
  border: 1px solid #e1483f;
}

.ui.buttons > .cls:after {
  content: ' ';
  position: absolute;
  background-color: #4d0000;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  width: 4px;
  height: 4px;
}

.ui.buttons > .mnmz {
  background-color: #ffbf2f;
  border: 1px solid #e0a028;
}

.ui.buttons > .mxmz {
  background-color: #28ca41;
  border: 1px solid #2bac2e;
}

.sublime-text .tabs {
  height: 45px;
  background-color: #252525;
}

.song,
.card,
.sublime-text {
  display: none;
  margin: 5% auto 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 20px 50px;
  border-radius: 4px;
}

.card .header,
.sublime-text .header {
  text-align: center;
  position: relative;
  padding: 5px 6px;
  padding-left: 60px; 
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  background-color: #f8f8f8;
  font-family: "Lucida Grande", sans-serif;
  background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
  border-bottom: #6a6a6a9f 1px solid;
}

.sublime-text .header h1 {
  font-size: 12px;
  width: calc(100% - 60px);
  font-family: 'Helvetica Neue', Helvetica, 'Inconsolata';
  font-weight: 400;
  line-height: 1;
  margin: 0;
}

.sublime-text .tab {
  position: relative;
  padding: 12px 15px;
  padding-right: 25px;
  overflow: hidden;
  font-size: 14px;
  height: 100%;
  width: 25%;
  background-color: #333333;
  color: #b3b3b3;
}

.sublime-text .tab > .title {
  width: 200px;
}

.sublime-text .tab.active:after {
  content: ' ';
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background-color: #eb5745;
  left: 0;
  bottom: 0;
}

.sublime-text .tab.unsaved:before {
  content: ' ';
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #8f382e;
  right: 15px;
  top: 18px;
  height: 5px;
  width: 5px;
}

.sublime-text .body {
  height: 600px;
  width: 100%;
  overflow-y: scroll;
  background-color: #1b1b1b;
}

.sublime-text .status-bar {
  position: relative;
  height: 32px;
  background-color: black;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.sublime-text .indentation,
.sublime-text .language {
  position: absolute;
  top: 8px;
  font-size: 12px;
  color: #b3b3b3;
}

.sublime-text .indentation {
  right: 100px;
}

.sublime-text .language {
  right: 25px;
}

.sublime-text #code {
  padding: 0 15px;
  background-color: #1b1b1b;
  color: #eff2f3;
  border: none;
}

.card {
  max-width: 320px;
}

.card .header {
  height: 23px;
  background: white;
  border: none;
}

.card .body {
  height: 335px;
  background: white;
  padding-top: 20px;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.card .body .photo {
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.card .body .photo > img {
  position: absolute;
  width: 150px;
  left: -33px;
  top: -13px;
}

.card .body .name {
  display: inline-block;
  font-size: 26px;
  font-weight: 300;
  font-family: 'Helvetica Neue', Helvetica, 'Inconsolata';
}

.card .row:not(:last-child):after {
  content: '';
  display: block;
  height: 1px;
  width: 80%;
  margin: 15px auto;
  background: rgba(0, 0, 0, 0.1);
}

.card .row .col {
  display: inline-block;
  width: 50%;
  text-align: left;
}

.card .row .col:nth-child(odd) {
  width: 25%;
  text-align: right;
  opacity: 0.5;
}

.song {
  margin: 0;
  position: fixed;
  background: inherit;
  padding: 12px 14px;
  top: 15px;
  right: 10px;
  width: 320px;
  height: 70px;
  overflow: hidden;
  border-radius: 6px; 
}

.song .cover {
  width: 46px;
  position: relative;
  z-index: 1;
}

.song .title-wrapper {
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 70px;
}

.song .title-wrapper > .icon {
  display: inline-block;
  width: 20px;
  vertical-align: sub;
}

.song .description,
.song .title-wrapper > .title {
  z-index: 1;
  opacity: .7;
  margin-left: -4px;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, 'Inconsolata';
  display: inline-block;
}

.song .description {
  position: absolute;
  top: 42px;
  left: 74px;
}

.song:after {
  content: ' ';
  width: 400px;
  height: 320px;
  background: inherit;
  position: absolute;
  left: -25px;
  right: 0;
  top: -25px;
  bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.5);
  filter: blur(12px);
}

.dock {
  background: inherit;
  width: 258px;
  height: 73px;
  padding: 7px;
  position: fixed;
  margin: 0 auto;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
 }

 .dock:before {
  content: ' ';
  width: 300px;
  height: 320px;
  background: inherit;
  position: absolute;
  left: -25px;
  right: 0;
  top: -25px;
  bottom: 0;
  box-shadow: inset 0 0 0 200px rgba(255,255,255,0.3);
  filter: blur(12px);
 }

 .dock > .app {
   display: inline-block;
   position: relative;
   width: 55px;
 }

 .dock > .app > img {
   width: 100%;
   height: 100%;
 }

 .dock > .app.active:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: black;
  left: 0;
  right: 0;
  margin: 0 auto;
 }

